.container{
 propriedade:valor;

}

h1{
 propriedade: valor;

}

.perfil img{
    width: 2px;
    height: 2px;
}

.links{
    propriedade : valor;
}

.links li{

    propriedade : valor;
}

.links li a{


    propriedade : valor;
}

.links li a:hover{

    propriedade : valor ;
}
